h2 {
  color: #a40ee4;
}

/* Editando as seções */

#sobre,
#servicos,
#portfolio,
#contato {
  padding: 10rem 0;
}
/* Hero Section */
.bgimage {
  height: 100vh;
  position: relative;
  background: url("img/heroImagem.jpg");
  background-size: cover;
}

.heroTitle {
  font-size: 4.5rem;
}

.heroDesc {
  font-size: 1.5rem;
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Seções */

.section {
  background-color: #13131f;
}

/* Sobre mim e Habilidades */
.aboutImage {
  width: 100%;
}

.aboutText {
  color: #8257e6;
  font-size: 16px;
  text-align: center;
  margin-left: 0px;
  margin-top: 40px;
}

.aboutUl {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: #8257e6;
  align-items: center;
}

.cardAbout {
  border: 2px solid #000f00;
  border-radius: 20px;
  margin-left: 10%;
  background-color: #212121;
  color: #8257e6;
  height: 10%;
}

.cardAbout:hover {
  border: 2px solid #000f00;
  transform: scale(1.05);
}

.skillsText.card {
  height: 150px;
  cursor: pointer;
  padding: 0 2rem;
  text-align: center;
  background-color: #212121;
  border-radius: 20px 1px;
}

.skillsIcon {
  height: 25px;
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}

.cardTitle {
  text-align: center;
  font-size: 22px;
}

.card:hover .skillsIcon {
  transform: scale(1.15);
}

.skillsText:hover {
  border: 2px solid #000f00;
  transform: scale(1.06);
}

.skillsSection {
  padding-top: 5rem;
}
/* Estilização do cabeçalho */

.navbar {
  background-color: #212121;
}

.navbar a {
  color: #db52eb;
  padding: 0.5rem;
}

.navbar a:hover {
  background-color: #ac40b8;
  color: #000f00;
  border-radius: 4px;
}

/* Portfolio */

.cardBody {
  background-color: #212121;
  color: #8257e6;
  text-align: center;
  font-size: 16px;
  height: 200px;
  width: 100%;
}

.cardTitle2 {
  color: #a40ee4;
  margin-bottom: 0.1rem;
  margin-top: 1.1rem;
}

.card:hover {
  border: 2px solid #000f00;
  transform: scale(1.05);
}

.cardBody a {
  color: #8257e6;
  padding: 0.5rem;
  text-decoration: none;
}

.cardBody a:hover {
  cursor: pointer;
  background-color: #8257e6;
  border-radius: 3px;
  color: #000f00;
}

/* Contatos */

.contactText.card {
  position: absolute;
  margin-top: 10%;
  height: 190px;
  padding: 0 2rem;
  text-align: center;
  background-color: #212121;
  border-radius: 20px 1px;
}

.contactIcon {
  margin-top: 2rem;
  font-size: 3.5rem;
  color: #923cb5;
}

/* footer */

footer {
  background-color: #212121;
}

.footerIcon {
  font-size: 2rem;
  color: #923cb5;
}

.footerIcon:hover {
  transform: scale(1.1);
}

.footerDev {
  background-color: #8257e6;
}

/* Efeito de Glass */

.glass {
  position: absolute;
  height: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(82, 26, 82, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(82, 26, 82, 0.58);
}
