html {

    scroll-behavior: smooth;

}

/* Cropo da Aplicação */
body {

    /* background */
    background-color: #f2e7dc;

    /*Texto*/
    color: #0d0d0d;
    text-align: justify;

    /* Alinhamentoe e Tamanho */
    /* 1rem = 16px tela grande = font-size 16px, tela media = font-size: 15px, tela pequena = font-size: 14px */
    width: 100%;
    margin: auto;
}

/* Seções dos livros */
section {

    /*padding shorthand (cima, direita, em baixo, esquerda) = padding: 64px 256px 64px 256px;*/
    /* Espaçamento 
    padding-left: 256px;
    padding-right: 256px;
    padding-bottom: 64px;
    padding-top: 64px;
    */
    /* padding shorthand mesmas medidas (cima baixo, direita esquerda) */

    padding: 64px 256px;

}

/* Tabela */
table {

    width: 100%;

}

td {
  /* 
     border-width: 3px;
     border-style: solid;
     border-color: #000; */

    background-color: #a9d9d0;
    

}
 
td, th {

    border: #000 solid 1px; /* Borda shorthand */
    border-radius: 4px;
    text-align: center;
}

tr {

    background-color: #038c7f;

}


 /* Titulo, Texto e Parágrafos */

p {

    text-align: justify;
    text-indent: 50px;

}

h1, h2, h3 {

    text-align: center;

}

h3 {

    color: #000;
}

/* Links */

a:link {

    color: #f2e7dc; /* Link normal */

}

a:visited {

    color: #95bfb8; /* Link visitado */

}

a:hover {

    color: #025454; /* Mouse sobre o link */

}

a:active {

    color: #0d0d0d; /* Link ativado */

}

img {
    
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 50px;

}

/* Classes e IDs */
.bookTitle {

    background-color: #a9d9d0;
    color: #027373;
    text-align: center;

}

#sectionHP, #sectionOPP, #sectionMHA {

    background-color: #a9d9d0;

}

#header {

    background-color: #038c7f;
    color: #f2e7dc;
    padding: 20px;
    margin-bottom: 0px;
}

#sumary {

    background-color: #038c7f;
    color: #f2e7dc;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yourLibrary {

    text-indent: 0px;
    text-align: center;

}

/* Roda pé */

footer {

    background-color: #038c7f;
    width: 100%;
    text-align: center;
    padding: 30px 0px;

}